.App {
  text-align: center;
  background-image: -moz-linear-gradient(#c70039, #581845);
}

img {
  height: 150px;
  width: 150px;
}

.model img {
  min-height: 400px;
  min-width: 400px;
}

h1 {
  font-style: italic;
  font-family: sans-serif;
  color: cadetblue;
  margin-right: auto;
  margin-left: auto;
}

ul {
  list-style-type: none;
}

li {
  border-style: solid 2px white;
  justify-content: space-between;
}

#paths {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
